.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
}


.label {
  color: black;
}

.deleteBtn {
  margin-top: 25px;
}

.boxDiv {
  display: contents;
}

.todoForm {
  width: 65%;
}

.notePad {
  background-color: rgb(212, 212, 104);
  width: 65%;
  color: black;
  text-align: start;
  padding-top: 1rem;
  margin-left: 1rem;
}

.done {
  text-decoration: line-through;
}

.editInput {
  width: 75%
}